*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloc_central{
    width: 560px;
    height: 315px;
}

.bloc_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 1rem;
    background-color: #b5b5b5;
    border: none;
    color: #1E2337;
}   

.happy{
    color: #f1bf2a;
}

.abonne{
    background-color: #f1bf2a;
    color: white;
}